.main-container {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.top-greeting {
    font-size: 30px;
    line-height: 30px;
    font-family: 'Merriweather', serif;
}

.bottom-greeting {
    font-size: 40px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
}

.tell-more {
    width: 15vw;
    height: 9vh;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #fed136;
    cursor: pointer;
    box-shadow: #fec810 0px 0px 0px 3.2px;
}
.tell-more:hover {
    background: #fec810;
}

@media (max-width: 990px) {
    .top-greeting {
        font-size: 20px;
        line-height: 20px;
    }
    .bottom-greeting {
        font-size: 25px;
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .top-greeting {
        font-size: 15px;
        line-height: 15px;
    }
    .bottom-greeting {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (max-width: 680px) {
    .tell-more {
        width: 12vw;
        height: 8vh;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .bottom-greeting {
        font-size: 15px;
        line-height: 15px;
    }
}